.mat-form-field {
  width: 100%;
}

.selected {
  background-color: rgb(240, 240, 240);
}

.element-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inline {
  display: inline;
}
