<div class="container">
  <div class="box">
    <div class="form-container">
      <div class="box-four">
        <button
          mat-raised-button
          style="width: 100%;"
          type="button"
          (click)="add()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div
        (click)="select(i)"
        [ngClass]="{ selected: activeIndex === i }"
        [class]="e.width"
        *ngFor="let e of elements; let i = index"
        class="box border-box"
      >
        <div class="element-box">
          <div style="width: 100%;">
            <app-dynamic-element
              aria-disabled="100%"
              style="width: 100%; cursor: pointer;"
              [element]="e"
            ></app-dynamic-element>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div
      *ngIf="activeIndex === undefined"
      class="border-box"
      style="height: 400px;"
      (click)="add()"
    >
      Add an element
    </div>
    <div *ngIf="activeIndex !== undefined">
      <div class="element-header">
        <button
          type="button"
          mat-icon-button
          (click)="moveDown(activeIndex)"
          matTooltip="Flytta ner"
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>

        <button
          type="button"
          mat-icon-button
          (click)="moveUp(activeIndex)"
          matTooltip="Flytta up"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>

        <button
          color="warn"
          mat-icon-button
          type="button"
          matTooltip="remove"
          (click)="remove(activeIndex)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <form action="" [formGroup]="form">
        <div></div>

        <mat-form-field>
          <input
            matInput
            required
            name="ParameterName"
            placeholder="Parameter Name"
            formControlName="parameterName"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Type"
            formControlName="type"
            name="Type"
            required
          >
            <mat-option value="">Choose an element type</mat-option>
            <mat-option *ngFor="let t of types" [value]="t.value">
              {{ t.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Header"
            name="Header"
            required
            formControlName="header"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Regex Pattern"
            name="Regex"
            formControlName="regex"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            name="RegexMessage"
            placeholder="Regex Message"
            formControlName="regexMessage"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Width" formControlName="width" name="Width">
            <mat-option value="box-one">
              1/4
            </mat-option>

            <mat-option value="box-two">
              2/4
            </mat-option>

            <mat-option value="box-three">
              3/4
            </mat-option>

            <mat-option value="box-four">
              4/4
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="container">
          <div>
            <div>
              <mat-checkbox name="IsMandatory" formControlName="isMandatory"
                >Is Mandatory</mat-checkbox
              >
            </div>

            <div>
              <mat-checkbox name="IsDisabled" formControlName="isDisabled"
                >Is Disabled</mat-checkbox
              >
            </div>
            <div>
              <mat-checkbox name="IsVisible" formControlName="isVisible"
                >Is Visible</mat-checkbox
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
