.mat-form-field {
  width: 100%;
}

.selected {
  background-color: var(--bg-secondary);
}

.element-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inline {
  display: inline;
}

.element-header {
  display: flex;
  justify-content: space-between;
}

.border-box {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--bg-secondary);
}

.border-box:hover {
  cursor: pointer;
}
