<div>
  <div class="list-header">
    <h2>Services</h2>
  </div>

  <table class="list-table">
    <thead>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Tags</th>
    </thead>
    <tbody>
      <tr *ngFor="let s of services" (click)="details(s)">
        <td>{{ s.name }}</td>
        <td>{{ s.description }}</td>
        <td>{{ s.tags }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pageing" style="margin-top: 1rem;">
    <button [disabled]="currentPage === 1" mat-icon-button (click)="previous()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div>
      {{ currentPage }}
    </div>
    <button [disabled]="totalCount < pageSize" mat-icon-button (click)="next()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
