<div @routerTransition>
  <div class="list-header">
    <h2>Services</h2>
  </div>

  <table *ngIf="!isLoading" class="list-table">
    <thead>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Tags</th>
    </thead>
    <tbody>
      <tr *ngFor="let s of services" (click)="details(s)">
        <td>{{ s.name }}</td>
        <td>{{ s.description }}</td>
        <td>
          <mat-chip-list>
            <mat-chip *ngFor="let t of s.tags">{{ t }} </mat-chip>
          </mat-chip-list>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="60"> </mat-spinner>
  </div>

  <div class="page-footer">
    <div></div>
    <div class="page-footer-box-center">
      <button
        [disabled]="currentPage === 1"
        mat-icon-button
        (click)="previous()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div>
        {{ currentPage }}
      </div>
      <button
        [disabled]="totalCount < pageSize"
        mat-icon-button
        (click)="next()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="page-footer-box-right">
      <button mat-raised-button (click)="details(null)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
