<nav class="navbar">
  <ul class="navbar-nav">
    <li
      *ngFor="let item of menu"
      class="nav-item"
      (mouseleave)="closeDropdown(item)"
      (mouseover)="openDropdown(item)"
      [ngClass]="{ 'has-dropdown': item.children }"
    >
      <ng-container *ngIf="!item.children">
        <a [routerLink]="[item.link]">{{ item.name }}</a>
      </ng-container>

      <ng-container *ngIf="!item.link && item.children">
        <a href="#">{{ item.name }}</a>
      </ng-container>

      <ng-container *ngIf="item.openDropdown">
        <ul class="dropdown">
          <li *ngFor="let child of item.children" class="dropdown-item">
            <a [routerLink]="[child.link]">{{ child.name }}</a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</nav>
<div class="main">
  <router-outlet></router-outlet>
</div>
