.mat-card:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: translateY(-3px) scale(1.02);
}

.mat-card {
  background-color: var(--bg-secondary);
  margin-bottom: 5px;
  border-radius: 5px;
  color: var(--text);
  max-width: 400px;
  transition: all 500ms;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
