/* You can add global styles to this file, and also import other style files */

/* :root {
  --primary-color: rgb(94, 1, 94);
  --secondary-color: rgb(163, 163, 163);
  --bg-color: white;
  --secondary-bg-color: rgb(233, 233, 233);
  --success-color: rgb(1, 100, 1);
  --warning-color: rgb(206, 206, 0);
} */

html,
body {
  height: 100%;
}
/* body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}  */

.container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.box {
  padding: 10px;
}

.form-container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-one {
  grid-column: span 1 / auto;
}

.box-two {
  grid-column: span 2 / auto;
}

.box-three {
  grid-column: span 3 / auto;
}

.box-four {
  grid-column: span 4 / auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

header {
  padding: 1em;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  background: var(--bg-nav);
  margin-bottom: 1em;
  padding-bottom: 3.5em;
  text-align: center;
}

main {
  min-height: 1000px;
  padding: 2rem;
}

img {
  margin: 2em 0 0;
  width: 180px;
  height: 180px;
}

/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-weight: 500;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item {
  cursor: pointer;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
}

.nav-item a {
  line-height: 70px;
}

.dropdown {
  margin-top: 70px;
  width: 150px;
  position: absolute;
  opacity: 1;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: 2px solid var(--border-color);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
}

.dropdown-item {
  padding: 2px;
  display: flex;
  justify-content: center;
}

.dropdown-item:hover {
  cursor: pointer;
  background: var(--gray1);
}

.dropdown-item a {
  size: 0.7rem;
  font-weight: 500;
}

.dropdown-item-theme a::before {
  content: " ";
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

/* Themes */

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --bluesecondary: #239fbe;
  --purple: #a82dd1;
  --purplesecondary: #aa4dc9;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --bg-secondary: var(--gray1);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --hover: var(--gray2);
  --text: var(--gray6);
  --border-color: var(--blue);
  --primary: var(--blue);
  --secondary: var(--bluesecondary);
  --success: rgb(0, 172, 0);
}

.dark {
  --bg: var(--gray5);
  --bg-secondary: var(--gray4);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --hover: var(--gray3);
  --text: var(--gray0);
  --border-color: var(--purple);
  --primary: var(--purple);
  --secondary: var(--purplesecondary);
  --success: rgb(0, 172, 0);
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

#solar::before {
  background: var(--bg-solar);
}

.main {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/* List card*/

.list-header {
  padding-left: 1rem;
}

.list-card {
  padding: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-card:hover {
  cursor: pointer;
  background-color: var(--gray1);
}

.pageing {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-table {
  width: 100%;
  border-spacing: 0;
}

.list-table th {
  border-bottom: 2px solid var(--border-color);
  height: 2rem;
  padding: 1rem;

  font-weight: 500;
}

.list-table tr {
  height: 3rem;
}

.list-table tr:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.list-table td {
  padding: 1rem;
  border-bottom: 1px solid var(--bg-secondary);
}

.main-card {
  padding: 1rem;
}

.page-header {
  padding-left: 12px;
}

.page-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-footer-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-footer .mat-raised-button {
  width: 400px;
  margin-left: 1rem;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--text);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--primary) !important;
}

.mat-form-field.mat-form-field-label {
  color: var(--text);
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: var(--text);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--primary) !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: var(--primary);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--primary);
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--primary);
}

.mat-simple-snackbar-action {
  color: var(--success);
}

.mat-snack-bar-container {
  color: var(--text);
  background: var(--bg-secondary);
}

.mat-select-value {
  color: var(--text);
}

.mat-dialog-container {
  background: var(--bg);
  color: var(--text);
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: var(--primary);
}

.mat-tab-label,
.mat-tab-link {
  color: var(--text);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--primary);
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 1px solid var(--bg-secondary);
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: var(--bg);
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: var(--primary);
  color: var(--text);
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--text);
}

.mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  color: var(--text);
}

.mat-form-field-appearance-legacy .mat-hint {
  color: var(--text);
}

.mat-select-arrow {
  color: var(--text);
}

.mat-step-label {
  width: 100% !important;
}
