<div *ngIf="!element.type">
  <p>Select an element type</p>
</div>

<div *ngIf="element.type === 'input'">
  <mat-form-field>
    <input
      [disabled]="element.isDisabled"
      matInput
      [placeholder]="element.header"
      [required]="element.isMandatory"
      name="{{ element.parameterName }}_{{ element.type }}_{{ index }}"
      [(ngModel)]="element.value"
    />
  </mat-form-field>
</div>

<div *ngIf="element.type === 'select'">
  <mat-form-field>
    <mat-select
      [disabled]="element.isDisabled"
      [placeholder]="element.header"
      [(ngModel)]="element.value"
      [required]="element.isMandatory"
      name="{{ element.parameterName }}_{{ element.type }}_{{ index }}"
    >
      <mat-option *ngFor="let item of element.options" [value]="item.value">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="element.type === 'datepicker'">
  <mat-form-field>
    <mat-label>{{ element.header }}</mat-label>
    <input
      [disabled]="element.isDisabled"
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="element.value"
      name="{{ element.parameterName }}_{{ element.type }}_{{ index }}"
      [placeholder]="element.header"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div *ngIf="element.type === 'checkbox'">
  <mat-checkbox
    [disabled]="element.isDisabled"
    [(ngModel)]="element.value"
    name="{{ element.parameterName }}_{{ element.type }}_{{ index }}"
    >{{ element.header }}</mat-checkbox
  >
</div>

<div *ngIf="element.type === 'search'">
  <mat-form-field>
    <input
      [disabled]="element.isDisabled"
      matInput
      [placeholder]="element.header"
      [required]="element.isMandatory"
      name="{{ element.parameterName }}_{{ element.type }}_{{ index }}"
      [(ngModel)]="element.value"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
